allow hal_fingerprint_default fingerprint_device:chr_file { read write open ioctl };
allow hal_fingerprint_default { tee_device uhid_device }:chr_file { read write open ioctl };
allow hal_fingerprint_default fingerprint_data_file:file rw_file_perms;
allow hal_fingerprint_default { fuse mnt_user_file storage_file }:dir search;
allow hal_fingerprint_default { mnt_user_file storage_file }:lnk_file read;
allow hal_fingerprint_default fingerprint_sysfs:dir rw_dir_perms;
allow hal_fingerprint_default fingerprint_sysfs:file rw_file_perms;

allow hal_fingerprint_default hal_fingerprint_default:netlink_socket { create bind write read };

binder_call(hal_fingerprint_default, vndservicemanager)

binder_use(hal_fingerprint_default)

r_dir_file(hal_fingerprint_default, firmware_file)

add_service(hal_fingerprint_default, goodixvnd_service)
add_hwservice(hal_fingerprint_default, goodixhw_service)

allow hal_fingerprint_default vndbinder_device:chr_file ioctl;

get_prop(hal_fingerprint_default, hal_fingerprint_prop)
set_prop(hal_fingerprint_default, hal_fingerprint_prop)

vndbinder_use(hal_fingerprint_default)
