allow init fingerprintd:binder { transfer call };
allow init goodixfpd_device:chr_file { write ioctl };
allow init sysfs_devices_system_cpu:dir write;
