[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TingyiChen
[access "refs/for/refs/*"]
	read = group user/TingyiChen
	push = group user/TingyiChen
	label-Code-Review = -2..+2 group user/TingyiChen
	label-Verified = -1..+1 group user/TingyiChen
	rebase = group user/TingyiChen
	removeReviewer = group user/TingyiChen
	submit = group user/TingyiChen
[access "refs/heads/*"]
	read = group user/TingyiChen
	create = group user/TingyiChen
	push = +force group user/TingyiChen
	pushMerge = group user/TingyiChen
[access "refs/tags/*"]
	push = group user/TingyiChen
	push = +force group user/TingyiChen
