[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Isaac Chen (TingyiChen)
[access "refs/for/refs/*"]
	read = group user/Isaac Chen (TingyiChen)
	push = group user/Isaac Chen (TingyiChen)
	label-Code-Review = -2..+2 group user/Isaac Chen (TingyiChen)
	label-Verified = -1..+1 group user/Isaac Chen (TingyiChen)
	rebase = group user/Isaac Chen (TingyiChen)
	removeReviewer = group user/Isaac Chen (TingyiChen)
	submit = group user/Isaac Chen (TingyiChen)
[access "refs/heads/*"]
	read = group user/Isaac Chen (TingyiChen)
	create = group user/Isaac Chen (TingyiChen)
	push = +force group user/Isaac Chen (TingyiChen)
	pushMerge = group user/Isaac Chen (TingyiChen)
[access "refs/tags/*"]
	push = group user/Isaac Chen (TingyiChen)
	push = +force group user/Isaac Chen (TingyiChen)
